
body {
    background-image: url(../assets/img/background.jpg);
    background-repeat: repeat;
    background-color: #FFEFD5;

}

footer {
    padding: 10px;
}

li.new::after {
    content: "new";
    color: white;
    background-color: orange;
    margin-left: 5px;
}

.Fletter::first-letter {
    font-family: "Arial Black";
    font-size: 24px;
    color: crimson;
}

.height {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.heightA {
    font-size: 24px;
    font-family: Arial;
    color: #424242;

}

p a {
    font-family: Arial;
    color: #424242;
    text-decoration: underline;
}

p a:hover {
    color: #1f5aad;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(204, 191, 176, 0.477);
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    position: fixed;
    top: 0;
}
.menu {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(204, 191, 176, 0.477);
}

.sharticles {
    background-color: rgba(187, 186, 144, 0.322);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comments {
    color: #1f5aad;
}
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbara {
    padding: 1em;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
  }
